/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 0;
  cursor: pointer;
  position: relative;
  // transition: background 0.2s linear;  
  display: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 6px;
  padding-bottom: 6px;

  @media (max-width: 991px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 2px;
  width: 100%;
  background: var(--main-color);
  border-radius: 10px;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}