// Header
.header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  top: 0;
  z-index: 44;

  &T {
    background: var(--gray-gray-800);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &B {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray-gray-300);
    width: 100%;
    background-color: #fff;
    z-index: 44;
    top: 0;
  }

  .logo {
    img {
      width: 175px;

      @media(max-width: 1199px) {
        width: 150px;
      }

      @media(max-width: 991px) {
        width: 175px;
      }
    }
  }

  &Nav {
    position: relative;

    &W {
      position: relative;
      @media(max-width: 991px){
        position: unset;
      }
    }
    @media(max-width: 991px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      z-index: 2;
      background-color: #fff;
    }

    &.active {
      display: block;
      -webkit-animation: shows 0.2s;
      animation: shows 0.2s;
      &+.search-action-field {
        top: 0px;
        width: 100%;
      }
    }

    &>ul {
      display: flex;
      column-gap: 4px;

      @media(max-width: 991px) {
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      }

      @media(max-width: 767px) {
        max-width: 540px;
      }

      &>li {
        &.menu-has-children {
          &>a {
            padding-right: 36px;
            background-image: url('@img/icons/arrow-down.svg');
            background-size: 16px;
            background-position: right 15px center;
            background-repeat: no-repeat;

            @media(max-width: 1199px) {
              padding-right: 25px;
              background-position: right 5px center;
              font-size: 13px;
            }

            @media(max-width: 991px) {
              font-size: 14px;
              background-position: right 15px center;
            }

            &.active {
              background-color: var(--gray-gray-200);

              @media(max-width: 991px) {
                background-image: url('@img/icons/arrow-up.svg');
                background-color: transparent;
              }
            }
          }
        }

        &>a {
          padding: 8px 12px;
          border-radius: 2px;
          font-size: 14px;
          line-height: 143%;
          color: var(--gray-gray-900);
          display: flex;

          &:hover {
            background-color: var(--gray-gray-200);

            @media(max-width: 991px) {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .sep {
    width: 1px;
    height: 24px;
    background: var(--gray-gray-300);
  }

  .socials {
    ul {
      li {
        a {
          &:hover {
            opacity: .85;
          }

          img {
            width: 24px;
          }
        }
      }
    }
  }
}

.header-marquee-item {
  &-cat {
    border: 1px solid var(--gray-gray-200);
    border-radius: 2px;
    padding: 2px 4px;
    background: rgba(248, 249, 250, 0.1);
    font-size: 12px;
    line-height: 133%;
    color: var(--bootstrap-white);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
  }

  &-text {
    font-size: 14px;
    line-height: 143%;
    color: var(--bootstrap-white);
    white-space: nowrap;

    @media(max-width: 991px) {
      font-size: 12px;
    }
  }
}

.headerMarquee {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: fit-content;
  }
}

.mobileNavBody {
  @media(max-width: 991px) {
    display: none;
  }
}

.mobileNavHead {
  @media(max-width: 991px) {
    background-repeat: no-repeat;
    padding-right: 25px;
    background-position: right 15px center;
    font-size: 13px;
    background-image: url('@img/icons/arrow-down.svg');
  }

  &.active {
    background-image: url('@img/icons/arrow-up.svg');
  }
}

.header__fxd._fixed {
  position: fixed;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.header__fxd._show {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.search-action-field {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  @media(max-width: 991px){
    z-index: 11;
    top: 9px;
    width: calc(100% - 100px);
  }

  &.active {
    display: block;
    -webkit-animation: shows 0.2s;
    animation: shows 0.2s;
  }

  .formInput {
    background-color: #fff;
    z-index: 1;
  }
}