// modal
.modal {
  display: none;
  height: fit-content;
  width: 880px;
  padding: 0;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;

  .modalInner {
    overflow-y: auto;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .f-button.is-close-btn {
    top: 10px;
    right: 10px;
    background-color: transparent;
  }
}