@font-face {
	font-family: WorkSansCyr;
	font-display: swap;
	src: url("../fonts/WorkSansCyr-Light.woff2") format("woff2"), url("../fonts/WorkSansCyr-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: WorkSansCyr;
	font-display: swap;
	src: url("../fonts/WorkSansCyr-Bold.woff2") format("woff2"), url("../fonts/WorkSansCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: WorkSansCyr;
	font-display: swap;
	src: url("../fonts/WorkSansCyr-Regular.woff2") format("woff2"), url("../fonts/WorkSansCyr-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
