// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media(max-width: 991px) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.sect {
  &.pb-0 {
    padding-bottom: 0;
  }

  &.pt-0 {
    padding-top: 0;
  }

  &.pb-60 {
    padding-bottom: 60px;

    @media(max-width: 991px) {
      padding-bottom: 30px;
    }
  }
}

.formInput {
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;

  @media(max-width: 991px) {
    font-size: 16px;
  }

  font-size: 14px;

  &::placeholder {
    color: #697077;
    font-size: 14px;

    @media(max-width: 991px) {
      font-size: 16px;
    }
  }

  &--search {
    padding-left: 36px;
    background-image: url('@img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left 12px center;
    padding-right: 40px;
  }

  &--calendar {
    padding-right: 36px;
    background-image: url('@img/icons/calendar.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: right 12px center;
  }

  &.w-650 {
    width: 650px;

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  &.w-400 {
    width: 400px;

    @media(max-width: 575px) {
      width: 100%;
    }

    &.w-md-100 {
      @media(max-width: 767px) {
        width: 100%;
      }
    }

    &.w-lg-100 {
      @media(max-width: 991px) {
        width: 100%;
      }
    }
  }

  &.w-200 {
    width: 200px;
  }

  &.w-140 {
    width: 140px;

    &.w-140-lg-100 {
      @media(max-width: 991px) {
        width: 100%;
      }
    }
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-lg-normal {
  @media(max-width: 991px) {
    font-weight: normal !important;
  }
}

.fw-lg-400 {
  @media(max-width: 991px) {
    font-weight: normal !important;
  }
}

.sectHead {
  margin-bottom: 30px;

  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.pageHead {
  @media(max-width: 991px) {
    padding-top: 32px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  padding-bottom: 51px;
  padding-top: 119px;

  @media(max-width: 1199px) {
    padding-top: 111px;
  }

  @media(max-width: 991px) {
    padding-bottom: 0;
    padding-top: 119px;
  }
}

.flex-1 {
  flex: 1;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 12px;
  }
}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}


.container-fluid {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: 600;
  line-height: normal;
}

.font-family-inter {
  font-family: 'Inter', sans-serif;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 120%;

  @media(max-width: 991px) {
    font-size: 28px;
    line-height: 36px;
  }

  &.h1-lg-40 {
    @media(max-width: 991px) {
      font-size: 40px;
      line-height: 120%;
    }
  }
}

h2,
.h2 {
  font-size: 32px;

  // @media(max-width: 1199px) {
  //   font-size: 20px;
  // }
}

h3,
.h3 {
  font-size: 28px;
  line-height: 36px;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 133%;

  &.h4-lg-h5 {
    @media(max-width: 991px) {
      font-size: 20px;
      line-height: 140%;
    }
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 140%;

  @media(max-width: 991px) {
    font-size: 16px;
    line-height: 24px;
  }
}

h6,
.h6 {
  font-size: 16px;
  line-height: 150%;

  &.fz-lg-14 {
    @media(max-width: 991px) {
      font-size: 14px;
    }
  }
}

.fz-20 {
  font-size: 20px;
  line-height: 28px;
}

a.h6,
a.h5,
a.h4,
a.h3 {
  width: fit-content;
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shows {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fz-lg-12 {
  @media(max-width: 991px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.fz-sm-12 {
  @media(max-width: 575px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.content {
  font-size: 16px;
  line-height: 24px;

  &>p {
    margin-bottom: 20px;

    a {
      display: inline;
      border-bottom: 1px solid #000;
    }
  }

  &>ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
  }

  &>a {
    display: inline;
    border-bottom: 1px solid #000;
  }
}

.navArrow {
  border-radius: 50%;
  border: 1px solid var(--outline);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;

  &.swiper-button-disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;

  &.gap-12-lg-8 {
    @media(max-width: 991px) {
      gap: 8px;
    }
  }
}

.gap-20 {
  gap: 20px;

  &.gap-xl-12 {
    @media(max-width: 1199px) {
      gap: 12px;
    }
  }

  &.gap-lg-20 {
    @media(max-width: 991px) {
      gap: 20px;
    }
  }
}

.bg-gray-100 {
  background-color: var(--gray-gray-100);
}

.bg-gray-200 {
  background-color: var(--gray-gray-200);
}

.bg-gray-700 {
  background-color: var(--gray-gray-700);
}

.bg-gray-900 {
  background-color: var(--gray-gray-900);
}

.bg-brand-primary {
  background-color: var(--brand-primary);
}

.bg-bootstrap-danger {
  background-color: var(--bootstrap-danger);
}

.bg-purple {
  background-color: #e9efff;
}

.bg-lg-none {
  @media(max-width: 991px) {
    background-color: transparent;
  }
}

.border-gray-200 {
  border: 1px solid var(--gray-gray-200);
}

.border-gray-400 {
  border: 1px solid var(--gray-gray-400);
}

.border-bootstrap-white {
  border: 1px solid var(--bootstrap-white);
}

.border-gray-800 {
  border: 1px solid var(--gray-gray-800);
}

.border-b-gray-300 {
  border-bottom: 1px solid var(--gray-gray-300);
}

.border-b-gray-400 {
  border-bottom: 1px solid var(--gray-gray-400);
}

.border-b-gray-lg-400 {
  @media(max-width: 991px) {
    border-bottom: 1px solid var(--gray-gray-400);
  }
}

.border-b-gray-700 {
  border-bottom: 1px solid var(--gray-gray-700);
}

.border-b-lg-none {
  @media(max-width: 991px) {
    border-bottom: none;
  }
}

.border-t-gray-400 {
  border-top: 1px solid var(--gray-gray-400);
}

.border-t-gray-lg-400 {
  @media(max-width: 991px) {
    border-top: 1px solid var(--gray-gray-400);
  }
}

.color-bootstrap-white {
  color: var(--bootstrap-white);
}

.color-brand-primary {
  color: var(--brand-primary);
}

.color-gray-300 {
  color: var(--gray-gray-300);
}

.color-gray-400 {
  color: var(--gray-gray-400);
}

.color-gray-500 {
  color: var(--gray-gray-500);
}

.color-gray-600 {
  color: var(--gray-gray-600);
}

.color-gray-700 {
  color: var(--gray-gray-700);
}

.color-lg-gray-700 {
  @media(max-width: 991px) {
    color: var(--gray-gray-700);
  }
}

.hover-opacity {
  &:hover {
    opacity: .55;
  }
}

.hover-bg-gray-400 {
  &:hover {
    background-color: var(--gray-gray-400) !important;
  }
}

.hover-bg-gray-300 {
  &:hover {
    background-color: var(--gray-gray-300) !important;
  }
}

.radius-2 {
  border-radius: 2px;
}

.bg-linear {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(29, 31, 34, 0) 0%, #1d1f22 100%);
  }
}

.h-200 {
  height: 200px;
}

.h-460 {
  height: 460px;
  min-height: 100%;

  @media(max-width: 991px) {
    height: 420px;
  }
}

.h-520 {
  height: 520px;

  &.h-xl-400 {
    @media(max-width: 1199px) {
      height: 400px;
    }
  }

  &.h-sm-250 {
    @media(max-width: 575px) {
      height: 250px;
    }
  }
}

.h-80 {
  height: 80px;
}

.h-252 {
  height: 252px;
}

.newsCard {
  &.h-400 {
    min-height: 400px;
  }

  &.h-252 {
    min-height: 252px;
  }

  &.h-160 {
    height: 160px;

    &.h-lg-430 {
      @media(max-width: 991px) {
        height: 430px;
      }
    }
  }



  &Content {

    // &.bg-linear {
    //   background: linear-gradient(180deg, rgba(29, 31, 34, 0) 0%, #1d1f22 100%);
    // }
  }

  &.bg-linear {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(29, 31, 34, 0) 0%, #1d1f22 100%);
    }

  }

  &Descr {
    overflow: hidden;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;

    /* Вертикальная ориентация */
    &--stroke-3 {
      -webkit-line-clamp: 3;
    }

    &--stroke-2 {
      -webkit-line-clamp: 2;
    }
  }

  &--row {
    @media(max-width: 575px) {
      flex-direction: column;
    }

    .newsCardImage {
      width: 240px;

      @media(max-width: 575px) {
        width: 100%;
      }

      &.radius-2 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.h-160 {
        height: 160px;

        @media(max-width: 575px) {
          height: 240px;
        }

        &.h-160-sm-235 {
          @media(max-width: 575px) {
            height: 235px;
          }
        }
      }

      &.h-200 {
        height: 200px;
      }

      &.w-280 {
        width: 280px;
      }
    }
  }
}

.max-w-440 {
  max-width: 440px;
}

.max-w-540 {
  max-width: 540px;
}

.max-w-565 {
  max-width: 565px;

  @media(max-width: 1400px) {
    max-width: 493px;
  }

  @media(max-width: 1199px) {
    max-width: 373px;
  }

  @media(max-width: 991px) {
    max-width: 460px;
  }

  @media(max-width: 767px) {
    max-width: 420px;
  }

  @media(max-width: 575px) {
    max-width: calc(100% - 50px);
  }
}

.fz-12 {
  font-size: 12px;
  line-height: 133%;
}

.fz-16 {
  font-size: 16px;
  line-height: 150%;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;

  &.px-20-lg-16 {
    @media(max-width: 991px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &.px-20-lg-0 {
    @media(max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;

  &.py-20-lg-16 {
    @media(max-width: 991px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;

  &.px-30-xl-16 {
    @media(max-width: 1199px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 24px;

  &.pl-lg-21 {
    @media(max-width: 991px) {
      padding-left: 21px;
    }
  }
}

.pr-3 {
  padding-right: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-20 {
  padding: 20px;

  &.p-20-lg-16 {
    @media(max-width: 991px) {
      padding: 16px;
    }
  }
}

.p-32 {
  padding: 32px;
}

.p-40 {
  padding: 40px;

  &.p-lg-24 {
    @media(max-width: 991px) {
      padding: 24px;
    }
  }
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.w-fit {
  width: fit-content;
}

.w-40 {
  width: 40px;
  flex-shrink: 0;
}

.t-50 {
  top: 50%;
}

.transf-50 {
  transform: translateY(-50%);
}

.mt-20 {
  margin-top: 20px;

  &.mt-20-lg-10 {
    @media(max-width: 991px) {
      margin-top: 10px;
    }
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;

  &.mb-lg-16 {
    @media(max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  &.mb-lg-10 {
    @media(max-width: 991px) {
      margin-bottom: 10px;
    }
  }
}

.max-w-350 {
  max-width: 350px;
}

.p-1px {
  padding: 1px;
}

.w-125 {
  width: 125px;
}

.select2-dropdown {
  border-color: transparent;
  border: 1px solid var(--gray-gray-300);
}

.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid var(--gray-gray-300);
  border-radius: 2px;
  background: var(--gray-gray-100);
  height: 40px;
  display: flex;
  align-items: center;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  background: url('@img/icons/arrow-down.svg') no-repeat center center / 16px;
  right: 8px;

  b {
    display: none;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  padding-right: 36px;

  @media(max-width: 991px) {
    font-size: 16px;
  }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--brand-primary);
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--gray-gray-200);
}

.sortBlock {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  display: none;
  z-index: 1;

  @media(max-width: 575px) {
    width: 100%;
  }

  &.active {
    display: block;
    -webkit-animation: shows 0.2s;
    animation: shows 0.2s;
  }

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      a {
        &:hover {
          color: var(--brand-primary);
        }
      }
    }
  }
}

.articleImage {}

.text-cursive {
  font-style: italic;
}

.border-l-brand-primary {
  border-left: 1px solid var(--brand-primary);
}

.border-width-4 {
  border-width: 4px;
}

.quote-arrows {
  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 36px;
    background: url('@img/icons/quote-prev.svg') no-repeat center center / contain;
    position: absolute;
    top: 5px;
    left: 20px;
  }

  &::after {
    display: block;
    content: '';
    width: 16px;
    height: 36px;
    background: url('@img/icons/quote-next.svg') no-repeat center center / contain;
    position: absolute;
    bottom: 5px;
    right: 20px;
  }
}

.articleSlider {
  padding-left: 130px;
  padding-right: 130px;

  @media(max-width: 767px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media(max-width: 575px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  .navArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &Prev {
      left: 80px;

      @media(max-width: 767px) {
        left: 60px;
      }

      @media(max-width: 575px) {
        left: 0;
      }
    }

    &Next {
      right: 80px;

      @media(max-width: 767px) {
        right: 60px;
      }

      @media(max-width: 575px) {
        right: 0;
      }
    }
  }

  .swiper-slide {
    transition: opacity .2s linear;

    &:hover {
      opacity: .85;
    }

    &.swiper-slide-active {
      &::before {
        opacity: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--gray-gray-900);
      opacity: .5;
      transition: opacity .2s linear;
      border-radius: 2px;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 2px;

      @media(max-width: 575px) {
        height: 55vw;
      }
    }
  }
}

.radioW {
  input {
    display: none;

    &:checked {
      &+label {
        &::after {
          display: block;
          content: '';
          position: absolute;
          left: 4px;
          width: 8px;
          height: 8px;
          background-color: var(--brand-primary);
          z-index: 1;
          border-radius: 50%;
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    cursor: pointer;

    &::before {
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      border: 1px solid var(--brand-primary);
      border-radius: 50%;
    }
  }
}

.line-result {
  background-color: var(--gray-gray-200);
  height: 4px;
  position: relative;
}

.line-drag {
  background-color: var(--gray-gray-500);
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
}

.gazetaCardImg {
  height: 400px;
  object-fit: cover;

  @media(max-width: 1199px) {
    height: 350px;
  }

  @media(max-width: 767px) {
    height: 300px;
  }

  @media(max-width: 575px) {
    height: 55vw;
  }
}

.air-datepicker-cell.-current- {
  color: var(--brand-primary);
  font-weight: 600;
}

.air-datepicker-body--day-name {
  color: var(--bootstrap-warning);
}

.teamCard {
  &Img {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @media(max-width: 991px) {
      height: 350px;
    }

    @media(max-width: 575px) {
      height: 55vw;
    }
  }
}

.contactsIcon {
  width: 32px;
}

.errorTitle {
  font-size: 256px;
  line-height: 256px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;

  @media(max-width: 991px) {
    font-size: 140px;
    line-height: 160px;
  }
}

.errorDescr {
  max-width: 380px;
}

.errorLinks {
  .sep {
    height: 13px;
    width: 1px;
    background-color: var(--brand-primary);
  }
}

.errorImage {
  position: absolute;
  left: 28px;
  top: 79px;

  @media(max-width: 1199px) {
    left: -56px;
  }

  @media(max-width: 991px) {
    width: 230px;
    left: unset;
    right: 200px;
    top: -30px;
  }

  @media(max-width: 767px) {
    right: 100px;
  }

  @media(max-width: 575px) {
    right: 10px;
  }
}

.ml-20 {
  margin-left: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-lg-auto {
  @media(max-width: 991px) {
    margin-left: auto;
  }
}

.searchW {
  .search-clear {
    right: 12px;
    position: absolute;
    top: 50%;
    transition: opacity .2s linear;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    display: none;

    &.active {
      opacity: 1;
      visibility: visible;
      display: block;
    }

    &:hover {
      opacity: .85;
    }
  }

  &:has(.formInput:focus) {
    .search-clear {
      opacity: 1;
      visibility: visible;
    }
  }

  &.w-md-100 {
    @media(max-width: 767px) {
      width: 100%;
    }
  }

  &.w-lg-100 {
    @media(max-width: 991px) {
      width: 100%;
    }
  }
}

.w-lg-100 {
  @media(max-width: 991px) {
    width: 100%;
  }
}

.sub-menu {
  position: absolute;
  background: var(--bootstrap-white);
  z-index: 2;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: opacity .2s linear, visibility .2s linear;

  @media(max-width: 991px) {
    position: unset;
    visibility: visible;
    opacity: 1;
    display: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &-l {
    border: 1px solid var(--gray-gray-200);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 200px;

    @media(max-width: 991px) {
      width: 100%;
      border: none;
    }
  }

  &-r {
    width: 400px;

    @media(max-width: 991px) {
      width: 100%;
    }
  }
}

.box-shadow-menu {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);

  &.box-shadow-menu-lg-none {
    @media(max-width: 991px) {
      box-shadow: none;
    }
  }
}

.menu-has-children {
  position: relative;
}

.max-h-270 {
  max-height: 270px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: var(--gray-gray-100);
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-gray-400);
  }

  &.max-h-lg-100 {
    @media(max-width: 991px) {
      max-height: 100%;
    }
  }
}

.filter-action {
  @media(max-width: 991px) {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &.active {
    display: block;
  }

  .selectW {
    grid-column: 6 span;

    @media(max-width: 991px) {
      width: 100%;
      grid-column: 12 span;
      display: block;
    }
  }

  .formSelect {
    @media(max-width: 991px) {
      width: 100% !important;
    }
  }
}

.selection {
  width: 100%;
  display: flex;
}

.select2-container--default .select2-selection--single {
  width: 100%;
  display: flex;
}

.select2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media(max-width: 991px) {
    width: 100% !important;
  }
}

.filterSelectGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.text-lg-cursive-unset {
  @media(max-width: 991px) {
    font-style: normal !important;
  }
}

.w-sm-100 {
  @media(max-width: 575px) {
    width: 100%;
  }
}

.socials-wrap {
  width: 280px;

  ul {
    li {
      a {
        &:hover {
          background-color: var(--brand-primary);

          span {
            color: #fff;
          }

          svg {
            stroke: #fff;
          }
        }

      }

      img {
        width: 24px;
        flex-shrink: 0;
      }

      svg {
        width: 24px;
        height: 24px;
        fill: transparent;
        stroke: #000;
        stroke-width: 1.5px;
      }
    }
  }
}

.socials-logo {
  width: 260px;

  @media(max-width: 991px) {
    width: 240px;
  }
}